<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>
    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">

                <a class="navbar-brand" href="about">About us</a>
                {% if user.is_authenticated is False %}
                <form action="{% url 'djangoapp:login' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="usernameLoginField" placeholder="Username">
                    <input type="password" name="passwordLoginField" placeholder="Password">
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <form action="{% url 'djangoapp:registration' %}" method="GET">
                    <button type="submit" class="btn btn-light">Sign Up</button>
                </form>
                {% else %}
                <form action="{% url 'djangoapp:logout' %}" method="POST">
                    {% csrf_token %}
                    {{ user.username }}
                    <button type="submit" class="btn btn-light">Logout</button>
                </form>
                {% endif %}

        </div>
    </nav>

    <!--Add a dealer table here -->
    <div class="container-fluid mt-5">
        <table class="table" id="table" data-filter-control="true">
            <thead class="bg-light" >
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="full_name">Dealership Name</th>
                    <th data-field="city">City</th>
                    <th data-field="address" >Address</th>
                    <th data-field="zip">Zip</th>
                    <th data-field="state" data-filter-control="select">State</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for dealer in dealership_list %}
                    <tr>
                        <th scope="row">{{dealer.id}}</th>
                        <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
                        <td>{{dealer.city}}</td>
                        <td>{{dealer.address}}</td>
                        <td>{{dealer.zip}}</td>
                        <td>{{dealer.st}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <footer>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="contact">Contact us</a>
                </div>
            <div>
        </nav>
    </footer>

    </body>

</html>
